a{
    color: black;
}
span{
color: #A5B4FC;
}
h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: Montserrat;
}
p{
    font-size: 1.1em;
    font-family: Manrope;
}
ul li {
    font-size: 1em;
    font-family: Manrope;
}
div a{
    text-decoration: none;
    font-size: 1em;
    font-family: Manrope;
    color: #01032bc8;
    border-radius: 50px;
}
 header nav .color{
    background-color: white;

}
body{
    background-color:#1F2039 ;
}
p,ul li,h2{
    color:#F9F8FF ;
    
}

div .degrade{
    background: linear-gradient(120deg,#8E86B5,#ACAEED);
    font-family: Manrope;
    color: white;
}
#border{
    border-bottom: 1px #e4e2eaca solid;
    border-right: 1px #e4e2eaca solid;
    padding: 50px;
} 
 div a:hover{
    text-decoration: underline;

}
div .degrade:hover{
background: linear-gradient(90deg,#648469,#900505d0);
}
*{
    margin:0;
}
header,footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}
section{
    padding: 80px;
}
#topmarge{
    margin-top: 20px;
}
#top{
    margin-top: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.space{
    display: flex;
    gap: 20px;
}
.align{
    display: flex;
    justify-content: space-between;
}
#espace1{
    padding-bottom: 20px;
}

#espace2{
    padding-bottom: 20px;
}
#alignvrai{
    display: flex;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: space-between;
}
